/dev/ttySAC1                 0660   gps         system
/dev/ttySAC4                 0660   bluetooth   bluetooth
/dev/pn544                   0660   nfc         nfc
/dev/p61                     0660   nfc         nfc
/dev/fpc1020                 0660   system      system
/dev/tspdrv                  0660   system      system
/dev/ion                     0660   system      graphics
/dev/dri/card0               0660   system      graphics
/dev/graphics/fb0            0660   system      graphics
