# Functional PRO 5 TWRP init: stable display kernel, dynamic serial, MTP/ADB,
# direct recovery process and restored reboot handling.

on early-init
    setenforce permissive
    write /sys/fs/selinux/checkreqprot 0
    setcon u:r:init:s0
    start ueventd
    start healthd

service set_permissive /sbin/toolbox setenforce 0
    oneshot
    seclabel u:r:recovery:s0

on init
    export PATH /sbin:/system/bin
    export LD_LIBRARY_PATH .:/sbin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    mkdir /boot
    mkdir /recovery
    mkdir /system
    mkdir /data
    mkdir /cache
    mkdir /custom
    mkdir /efs
    mkdir /sideload
    mkdir /storage
    mkdir /storage/sdcard1
    mount tmpfs tmpfs /tmp
    chown root shell /tmp
    chmod 0775 /tmp

on fs
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/bDeviceSubClass 0
    write /sys/class/android_usb/android0/bDeviceProtocol 0

on boot
    ifup lo
    hostname localhost
    domainname localdomain
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 2A45
    write /sys/class/android_usb/android0/idProduct 0C02
    write /sys/class/android_usb/android0/iManufacturer Meizu
    write /sys/class/android_usb/android0/iProduct "PRO 5 TWRP"
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/bDeviceSubClass 0
    write /sys/class/android_usb/android0/bDeviceProtocol 0
    start usb_serial_setup
    class_start default

on property:recovery.usb.serial=*
    write /sys/class/android_usb/android0/iSerial ${recovery.usb.serial}
    setprop sys.usb.config adb

on load_all_props_action
    load_all_props

on firmware_mounts_complete
    rm /dev/.booting

on late-init
    trigger early-fs
    trigger fs
    trigger post-fs
    trigger post-fs-data
    trigger load_all_props_action
    trigger firmware_mounts_complete
    trigger early-boot
    trigger boot

on property:sys.usb.config=none
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    setprop sys.usb.state none

on property:sys.usb.config=adb
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 2A45
    write /sys/class/android_usb/android0/idProduct 0C02
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state adb

on property:sys.usb.config=mtp,adb
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 2A45
    write /sys/class/android_usb/android0/idProduct 0C02
    write /sys/class/android_usb/android0/functions mtp,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state mtp,adb

on property:sys.powerctl=*
    powerctl ${sys.powerctl}

service ueventd /sbin/ueventd
    critical

service healthd /sbin/healthd -r
    critical

service usb_serial_setup /sbin/permissive.sh
    oneshot
    seclabel u:r:recovery:s0

service recovery /sbin/recovery
    oneshot
    seclabel u:r:recovery:s0

service adbd /sbin/adbd
    disabled
    socket adbd stream 660 system system
