/dev/graphics/fb0           0660   root     graphics
/dev/input/*                0660   root     input
/dev/mtp_usb                0660   root     mtp
/dev/usb_accessory          0660   root     usb
/dev/tspdrv                 0660   root     system
/dev/ion                    0660   root     graphics
